book/*.aux
book/*.log
book/*.ps
book/*.toc
book/livrebralic/*.aux
book/livrebralic/*.log
book/livrebralic/*.ps
book/livrebralic/*.toc
book/livrekalon/*.aux
book/livrekalon/*.log
book/livrekalon/*.ps
book/livrekalon/*.toc
book/livremorgoth/*.aux
book/livremorgoth/*.log
book/livremorgoth/*.ps
book/livremorgoth/*.toc
book/sty/*.aux
book/sty/*.log
book/sty/*.ps
book/sty/*.toc
