* text=auto !eol
book/kalon.tex -text
book/kalon1.pdf -text
book/kalon1.tex -text
book/kalon2.pdf -text
book/kalon2.tex -text
book/kaltitre.png -text
book/kalworld.jpg -text
book/livrebralic.tex -text
book/livrebralic/bralic1.tex -text
book/livrebralic/bralic2.tex -text
book/livrekalon.tex -text
book/livrekalon/kalcarte.tex -text
book/livrekalon/kalon1.tex -text
book/livrekalon/kalon10.tex -text
book/livrekalon/kalon11.tex -text
book/livrekalon/kalon12.tex -text
book/livrekalon/kalon13.tex -text
book/livrekalon/kalon14.tex -text
book/livrekalon/kalon15.tex -text
book/livrekalon/kalon2.tex -text
book/livrekalon/kalon3.tex -text
book/livrekalon/kalon4.tex -text
book/livrekalon/kalon5.tex -text
book/livrekalon/kalon6.tex -text
book/livrekalon/kalon7.tex -text
book/livrekalon/kalon8.tex -text
book/livrekalon/kalon9.tex -text
book/livrekalon1.tex -text
book/livrekalon2.tex -text
book/livremorgoth.tex -text
book/livremorgoth/morgcarte.tex -text
book/livremorgoth/morgoth1.tex -text
book/livremorgoth/morgoth10.tex -text
book/livremorgoth/morgoth11.tex -text
book/livremorgoth/morgoth12.tex -text
book/livremorgoth/morgoth13.1.tex -text
book/livremorgoth/morgoth13.2.tex -text
book/livremorgoth/morgoth13.tex -text
book/livremorgoth/morgoth2.tex -text
book/livremorgoth/morgoth3.tex -text
book/livremorgoth/morgoth4.tex -text
book/livremorgoth/morgoth5.tex -text
book/livremorgoth/morgoth6.tex -text
book/livremorgoth/morgoth7.tex -text
book/livremorgoth/morgoth8.tex -text
book/livremorgoth/morgoth9.tex -text
book/livremorgoth1.tex -text
book/livremorgoth2.tex -text
book/morgoth1.pdf -text
book/morgoth1.tex -text
book/morgoth2.pdf -text
book/morgoth2.tex -text
book/sty/kalon.sty -text
book/sty/kalon_com.sty -text
book/sty/kalon_env.sty -text
book/sty/kalon_setup.sty -text
couv/cover_pocket_back.gif -text
couv/cover_pocket_front.gif -text
couv/kalon1-back.gab.png -text
couv/kalon1-back.png -text
couv/kalon1-back.xcf -text
couv/kalon1-base.jpg -text
couv/kalon1-front.gab.png -text
couv/kalon1-front.png -text
couv/kalon1-front.xcf -text
couv/kalon1-full.jpg -text
couv/kalon1-full.pdf -text
couv/kalon2-back.gab.png -text
couv/kalon2-back.png -text
couv/kalon2-back.xcf -text
couv/kalon2-front.gab.png -text
couv/kalon2-front.png -text
couv/kalon2-front.xcf -text
couv/kalon2-full.pdf -text
couv/morgoth1-back.png -text
couv/morgoth1-back.xcf -text
couv/morgoth1-base.jpg -text
couv/morgoth1-front.gab.png -text
couv/morgoth1-front.png -text
couv/morgoth1-front.xcf -text
couv/morgoth2-back.png -text
couv/morgoth2-back.xcf -text
couv/morgoth2-front.png -text
couv/morgoth2-front.xcf -text
